<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <h1><%= campground.name %></h1>
            <div class="...">
                <img src="<%= campground.image %>" class="media-object">
                <p><%= campground.description %></p>
                <p><a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a></p>
                <% campground.comments.forEach(function(comment) {%>
                    <p><strong><%= comment.text %></strong> - <%= comment.author %></p>
                <% })%>
                <a href="/campgrounds">Go Back</a>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>

